@keyframes cross-out{
    0%   { width : 0; }
    100% { width: 100%; }
}

@keyframes clear{
    0%   { width : 100%; }
    100% { width: 0; }
}


.cross-out, .clear {
    position: relative;
}

.cross-out::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
    animation-name: cross-out;
    animation-duration: 0.3s;
}
